body {
  height: 100vh;
  font-family: 'Courier New', monospace;
  color: #f8f9fa;
}

h1 {
  color: #A1D2FA;
  margin: 0px;
  padding: 3px 2px;
  font-size: 30px;
}

h2 {
  font-size: 24px;
  padding: 3px 2px;
  margin-bottom: 1px;
}

h5 {
  padding: 3px 2px;
}

h6 {
  padding: 3px 2px;
}

p {
  margin: 0px;
  font-size: 14px;
  padding: 3px 2px;
  text-align: justify;
}

a {
  color: #A1D2FA;
  text-decoration: none;
  padding: 3px 2px;
}

a:hover {
  color: #7DA5C8;
}

p a {
  padding: 0px;
}

/* Color Scheme */
.content-1 {
  background-color: #05101E;
}

.content-2 {
  background-color: #0F1D32;
}

.content-3 {
  background-color: #242C38;
}

.content-4 {
  background-color: #2A303A;
}

/* Navbar */
.navbar .navbar-brand {
  color: #A1D2FA;
  font-size: 24px;
}

.navbar h1, a.nav-link {
  color: #f8f9fa;
}

.navbar-nav a.nav-link.active {
  color: #A1D2FA;
}

.navbar-nav a.nav-link:hover {
  color: #A1D2FA;
}

.navbar-nav a.nav-link:focus {
  color: #A1D2FA;
}

#langBtn {
  background: 0 0;
  border: 0;
}

#langBtn img {
  height: 16px;
  opacity: 0.75;
}

/* SideBar */
#sideBar {
  width: 324px;
  max-width: 324px;
  min-width: 324px;
  background-color: #0F1D32;
  padding: 16px;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
}

#sideBar .card {
  height: 100%;
  background-color: transparent;
  border: 0;
}

#sideBar .list-group-item {
  background-color: transparent;
  color: #f8f9fa;
}

#sideBar .card-footer {
  background-color: transparent;
  color: #f8f9fa;
  border: 0;
}

#sideBar a {
  font-size: 14px;
  padding: 3px 2px;
  width: auto;
}

#body {
  height: calc(100% - 56px);
  overflow-y: hidden;
}

#content {
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  .org {
    width: 100%!important;
    max-width: 100%!important;
    min-width: 100%!important;
    margin-left: 0!important;
  }

  .org-title {
    width: 100%!important;
    max-width: 100%!important;
    min-width: 100%!important;
    justify-content: center;
    text-align: center;
  }

  .education .org-title p {
    text-align: center!important;
  }

  .languages .org {
    height: 57.4px;
  }
  
  .languages .org-title div {
    min-width: 100%;
  }

  .languages .org-title p {
    text-align: start!important;
    min-width: 100%;
  }
}

@media (max-width: 1080px) {
  .section-inner {
    max-width: 740px;
    min-width: min(100%, 740px);
    padding: 30px 16px 16px 16px;
  }

  .section.skills .section-inner {
    padding: 0 16px;
  }

  p {
    text-align: start!important;
  }
}

@media (min-width: 1080px) {
  .section-inner {
    min-width: 1080px;
    max-width: 1080px;
    padding: 30px 186px 16px 186px;
  }

  .section.skills .section-inner {
    padding: 0 186px;
  }

  .about-me p {
    font-size: 16px;
  }

  .org {
    margin-left: -84px!important;
  }

  .org-title {
    width: 100%!important;
    max-width: 100%!important;
    min-width: 100%!important;
  }
}

@media (min-width: 1386px) {
  #sideBar {
    display: block;
  }

  #content {
    width: calc(100% - 294px);
    max-width: calc(100% - 294px);
    min-width: calc(100% - 294px);
  }

  .section-inner {
    min-width: 1092px;
    max-width: 1092px;
    padding: 30px 192px 16px 192px;
  }

  .section.skills .section-inner {
    padding: 0 192px;
  }

  .profile, .interests, .contact {
    display: none!important;
  }

  .about-me {
    padding-top: 78px;
    background-color: #242C38!important;
  }

  .projects {
    padding-bottom: 30vh;
  }
}

@media (max-width: 1920px) {
  #sideBar {
    width: 294px;
    max-width: 294px;
    min-width: 294px;
  }

  #sideBar h5 {
    font-size: 16px;
  }

  #sideBar li {
    font-size: 14px;
  } 
}

@media (min-width: 1920px) {
  #content {
    width: calc(100% - 324px);
    max-width: calc(100% - 324px);
    min-width: calc(100% - 324px);
  }
}

.profile img {
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  height: 250px;
}

.about-me {
  background-color: #2A303A;
}

#content .list-group-item {
  background-color: transparent;
  color: #f8f9fa;
}

/* Org */
.org {
  width: 84px;
  height: 84px;
  max-width: 84px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 14px;
  padding: 0;
}

.org-img {
  width: 84px;
  height: 84px;
}

.org-title {
  width: calc(100% - 98px);
  max-width: calc(100% - 98px);
  min-width: calc(100% - 98px);
}

.languages .org-img {
  width: 84px;
  height: 57.404px;
}

/* Tech */
.tech {
  width: 90px;
  max-width: 90px;
  min-width: 90px;
  padding: 5px;
}

.tech img {
  width: 80px;
  height: 80px;
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.tech img:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}

.tech h6 {
  margin: 0;
  font-size: 13px;
}

#expandSkillsBtn {
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}

#expandSkillsBtn:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.up {
  transform: rotate(-90deg);
  transition: transform 500ms linear;
}

.down {
  transform: rotate(90deg);
  transition: transform 500ms linear;
}

.btn {
  margin: 8px 8px 10px 2px;
  padding: 11px 22px;
  font-size: 16px;
  opacity: 0.75;
  align-items: center;
  border-radius: 4px;
}

button i {
  font-size: 19px;
}

.contact {
  padding-bottom: 30vh;
}

.contact div.row {
  margin: 0 12px;
}

.contact a.row {
  padding: 0 2px;
  width: auto;
}

.contact i {
  font-size: 30px;
}

.logo {
  padding: 0; 
  width: 30px; 
  min-width: 30px; 
  max-width: 30px;
}

.link {
  margin-bottom: 3.6px;
  padding-right: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ced4da;
}

::-webkit-scrollbar-thumb {
  background: #A1D2FA;
}

::-webkit-scrollbar-thumb:hover {
  background: #8DBBFB;
}

/* Selection */
::selection {
  background: #A1D2FA;
  color: #212529;
}

::-moz-selection {
  background: #A1D2FA;
  color: #212529;
}

/* Carousels */
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* Profile img border animation */
.circle-wrapper {
  position: relative;
  width: 256px;
  height: 256px;
  float: left;
  padding: 0;
}

.circle-wrapper img {
  position: absolute;
  color: #fff;
  top: 3px;
  left: 3px;
  height: 250px;
  width: 250px;
}

@keyframes spin { 
  100% { 
    transform: rotateZ(360deg);
  }
}

.circle {
  display: block;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  background-clip: content-box;
  background-image: conic-gradient( #0F1D32 0deg, #f8f9fa 15deg, #A1D2FA 70deg, #9CCDFB 125deg, #97C7FB 180deg, #92C1FB 235deg, #8DBBFB 290deg, #0F1D32 345deg);
  transform: rotate(31deg);
}

.mask-1 {
  position: absolute;
  background-image: conic-gradient( #0F1D32 0deg, #0F1D32 360deg);
  transform: rotate(31deg);
  border-radius: 50%;
  width: 258px;
  height: 258px;
  top: -1px;
  left: -1px;
}